div#tabs {
  max-width: 100%;
  border-bottom: 1px solid #ccc;
  background: #f3f3f3; }
  div#tabs ul#chat-tabs {
    line-height: 45px;
    font-size: 11pt;
    margin: 0;
    list-style: none; }
    div#tabs ul#chat-tabs li {
      float: left; }
    div#tabs ul#chat-tabs li.chat-tab {
      padding: 0 10px; }
      div#tabs ul#chat-tabs li.chat-tab:hover {
        color: #ccc; }

div#chatwindow {
  max-width: 100%; }
  div#chatwindow div.column {
    width: 100%;
    padding: 0; }
    div#chatwindow div.column ul#display {
      width: 100%;
      height: 100%;
      overflow-y: auto;
      list-style: none;
      padding: 0;
      margin: 0;
      font-size: 9pt; }
      div#chatwindow div.column ul#display li {
        padding: 0 3px;
        margin: 0; }
        div#chatwindow div.column ul#display li.raw {
          color: #ccc;
          font-style: italic;
          font-size: 8pt; }
        div#chatwindow div.column ul#display li span.from {
          font-style: italic;
          font-weight: 100;
          color: #bbb; }
        div#chatwindow div.column ul#display li span.to {
          color: #111; }

div#chatinput {
  max-width: 100%;
  border-top: 1px solid #ccc;
  background: #f3f3f3; }
  div#chatinput div#username {
    border: 1px solid #cccccc;
    border-right: none;
    margin: 5px 0;
    height: 37px;
    line-height: 37px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    text-align: right;
    font-weight: bold;
    text-transform: uppercase;
    padding-right: 10px;
    background: #fff;
    font-size: 10pt; }
  div#chatinput input#inpt {
    width: calc(100% - 5px);
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px; }
  div#chatinput div.columns {
    padding: 0; }
    div#chatinput div.columns input {
      margin-bottom: 0;
      margin: 5px 0; }
