html, body {
  height: 100%; }

body {
  background: #f3f3f3;
  font-family: 'Open Sans', sans-serif;
  color: #212121;
  overflow-y: hidden; }

.cf:before,
.cf:after {
  content: " ";
  display: table; }

.cf:after {
  clear: both; }

.left {
  float: left; }

.right {
  float: right; }

header#header {
  width: 100%;
  height: 45px;
  background: #fff;
  box-shadow: 0px 0px 3px rgba(33, 33, 33, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10; }
  header#header div#channel-select {
    line-height: 45px;
    width: 45px;
    font-size: 10pt;
    text-align: center;
    border-right: 1px solid #eeeeee; }
  header#header ul#channel-tabs, header#header ul#settings {
    margin: 0;
    padding: 0;
    list-style: none; }
    header#header ul#channel-tabs li, header#header ul#settings li {
      float: left;
      height: 44px;
      line-height: 44px;
      -webkit-transition: all 100ms linear;
      -moz-transition: all 100ms linear;
      -ms-transition: all 100ms linear;
      -o-transition: all 100ms linear;
      transition: all 100ms linear;
      border-top: 1px solid transparent; }
      header#header ul#channel-tabs li:hover, header#header ul#settings li:hover {
        border-top-color: #6bceed; }
  header#header ul#channel-tabs {
    font-size: 11pt;
    text-transform: uppercase; }
    header#header ul#channel-tabs li {
      padding: 0 15px;
      border-right: 1px solid #eeeeee; }
      header#header ul#channel-tabs li span.mentions {
        margin-left: 15px;
        display: none;
        padding: 0 5px; }
        header#header ul#channel-tabs li span.mentions.active {
          display: inline; }
      header#header ul#channel-tabs li i {
        margin-left: 15px;
        font-size: 10pt; }
      header#header ul#channel-tabs li:hover i {
        color: rgba(255, 0, 0, 0.7); }
  header#header ul#settings {
    font-size: 10pt;
    text-align: center; }
    header#header ul#settings li {
      width: 45px;
      border-left: 1px solid #eeeeee; }

section#chat-display {
  position: absolute;
  top: 45px;
  left: 0;
  height: 100%;
  width: 100%;
  overflow-y: auto;
  	/* section#nicks {
  		width: 235px;
  		text-align: right;
  	}
  
  	section#chat {
  
  	} */ }
  section#chat-display ul#display {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 11pt;
    text-align: center; }
    section#chat-display ul#display li.chatline {
      max-width: 90%;
      margin: 10px auto; }
      section#chat-display ul#display li.chatline.self {
        color: #6F6F6F; }
        section#chat-display ul#display li.chatline.self div.nick {
          font-style: italic; }
      section#chat-display ul#display li.chatline.notice {
        color: #dc0000; }
        section#chat-display ul#display li.chatline.notice div.nick {
          font-weight: 600; }
      section#chat-display ul#display li.chatline div.nick {
        width: calc(10% - 10px);
        text-align: right;
        padding-right: 10px; }
      section#chat-display ul#display li.chatline div.message {
        width: calc(90% - 60px);
        text-align: left; }
      section#chat-display ul#display li.chatline div.timestamp {
        width: 50px;
        text-align: right; }

footer#footer {
  width: 100%;
  height: 50px;
  position: fixed;
  bottom: 0;
  left: 0;
  background: #fff;
  box-shadow: 0 0 3px rgba(33, 33, 33, 0.4); }
  footer#footer div#username {
    width: 235px;
    height: 50px;
    line-height: 50px;
    text-align: right;
    padding-right: 10px; }
  footer#footer div#input-wrap input {
    margin: 0;
    padding: 0;
    -webkit-transition: all 100ms linear;
    -moz-transition: all 100ms linear;
    -ms-transition: all 100ms linear;
    -o-transition: all 100ms linear;
    transition: all 100ms linear;
    height: 30px;
    margin: 10px 0;
    border: 1px solid #eeeeee; }
    footer#footer div#input-wrap input:focus {
      outline: none;
      box-shadow: 0 0 7px rgba(107, 206, 237, 0.6);
      border-color: rgba(107, 206, 237, 0.4); }

input {
  margin: 0;
  padding: 0;
  -webkit-transition: all 100ms linear;
  -moz-transition: all 100ms linear;
  -ms-transition: all 100ms linear;
  -o-transition: all 100ms linear;
  transition: all 100ms linear;
  height: 30px;
  margin: 10px 0;
  border: 1px solid #eeeeee; }
  input:focus {
    outline: none;
    box-shadow: 0 0 7px rgba(107, 206, 237, 0.6);
    border-color: rgba(107, 206, 237, 0.4); }

@media only screen and (max-width: 767px) {
  header ul#channel-tabs {
    display: none; }

  section#chat-display ul#display div.timestamp {
    display: none; }
  section#chat-display ul#display div.nick {
    float: none;
    width: 200px !important;
    text-align: left !important; }
  section#chat-display ul#display div.message {
    width: calc(90% - 20px) !important;
    margin-left: 10px; }

  footer#footer div#username {
    width: 100px !important;
    overflow: hidden; } }
section.dialog {
  position: fixed;
  top: 46px;
  left: 0;
  width: 100%;
  max-height: 50%;
  overflow-y: hidden;
  background: #fff;
  border-bottom: #eeeeee;
  z-index: 1000;
  text-align: center;
  box-shadow: 0 1px 2px rgba(33, 33, 33, 0.4); }
  section.dialog section.container {
    margin: auto;
    text-align: left;
    max-width: 1000px;
    border-left: 1px solid #eeeeee;
    border-right: 1px solid #eeeeee; }
    section.dialog section.container header.title {
      height: 35px;
      line-height: 35px;
      text-transform: uppercase;
      font-weight: 600;
      padding: 0 10px; }
    section.dialog section.container section.content {
      padding: 10px;
      overflow-y: auto; }
    section.dialog section.container footer.actions {
      height: 45px;
      line-height: 45px;
      padding: 0 10px;
      border-top: 1px solid #eeeeee; }
      section.dialog section.container footer.actions a, section.dialog section.container footer.actions a:visited, section.dialog section.container footer.actions a:active {
        text-decoration: none;
        text-transform: uppercase;
        color: #000;
        font-size: 11pt;
        border: 1px solid #eeeeee;
        padding: 3px 10px;
        margin-left: 5px; }
