@import "cinder";

// variables

$multigrain-red: #e64d52;
$multigrain-green: #8cd43a;
$multigrain-dark: #3d3d3d;
$multigrain-light: #979696;
$multigrain-border: #e9e9e9;
$multigrain-border-dark: #ddd;

body {
	background: #f3f3f3;
}

nav {
	border-bottom: 1px solid $multigrain-border-dark;
	@include lineheight(49);
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	background: #f3f3f3;
}

nav > ul {
	margin: auto;

	li {
		&#channel-info {
			padding-left: 15px;
			min-width: 220px;
			
			span#channel-name {
				margin: 0 15px;
				@extend .semibold;
				text-transform: uppercase;
				font-size: em(18);
			}

			i {
				font-size: em(14);
				margin-top: 16px;

				&.fa-times {
					font-size: em(10);
					margin-top: 18px;
				}
			}
		}

		&#topic {

		}

		&#users {
			font-size: em(12);
			text-align: right;
			padding-right: 15px;
		}
	}
}

ul#chat {
	margin: auto;
	list-style: none;
	position: absolute;
	top: 50px;
	left: 50%;
	width: 100%;
	height: calc(100% - 100px);
	transform: translate(-50%, 0);
	overflow: auto;

	li.chatline {
		font-size: em(14);

		&.self {
			color: $multigrain-light;
		}

		&.mention {
			color: $multigrain-red;
			@extend .bold;
		}

		&.leave, &.join {
			color: $multigrain-light;
			i {
				font-size: em(14);
			}
		}

		div {
			&.chat-nick {
				text-align: right;
				@extend .semibold;
				padding: 10px 0;
				padding-right: 10px;
			}

			&.chat-text {
				border-bottom: 1px solid $multigrain-border;
				padding: 10px 0;
				padding-left: 10px;
				word-wrap: break-word;
				
				&:last-of-type { 
					color: red;
				}
			}

			&.chat-time {
				text-align: right;
				padding: 10px 0;
				padding-right: 15px;
			}
		}
	}
}

footer#footer {
	position: fixed;
	bottom: 0;
	left: 50%;
	width: 100%;
	transform: translate(-50%, 0);
	background: #fff;
	border-top: 1px solid $multigrain-border-dark;

	div.row {
		@include lineheight(49);
		margin: auto;

		div {
			&#user-nick {
				text-align: right;
				font-size: em(14);
				@extend .semibold;
				padding-right: 10px;
			}

			&#input-text {
				input {
					width: 100%;
					border: none;
					border-bottom: 1px solid $multigrain-border-dark;
					font-family: $cinder-sans-font;
					font-size: em(14);
					outline: none;
				}
			}

			&#multigrain-settings {
				text-align: right;
				padding-right: 15px;
			}
		}

	}
}

// ui components

#add-server-dialog {
	background: #fff;
	display: none;
	button {
		background: none;
		border: none;
		@extend .semibold;
		text-transform: uppercase;
		font-family: $cinder-sans-font;
		outline: none;
		cursor: pointer;
	}

	section.cinder-modal-dialog {
		left: calc(50% - 250px);
		height: 100%;
		// transform: translate(-50%, 0);
	}

	section#add-server-content {
		width: 500px;
		height: calc(100% - 100px);
		overflow-x: hidden;
		overflow-y: auto;

		h1 {
			font-size: em(24);
			@extend .semibold;
		}

		label {
			@extend .semibold;
			text-transform: uppercase;
			font-size: em(16);
		}

		div {
			margin: 10px 0 20px 0;
		}

		input {
			width: 100%;
			border: none;
			border-bottom: 1px solid $multigrain-border-dark;
		}

		div#server-add-autojoin-buttons {
			margin-left: -10px;
		}

		button {
			border: 1px solid transparent;
			padding: 0 10px;
			font-size: em(14);

			&:active {
				@extend .bold;
			}

			&.on {
				color: $multigrain-green;

				&.selected {
					border-color: $multigrain-green;
				}
			}

			&.off {
				color: $multigrain-red;

				&.selected {
					border-color: $multigrain-red;
				}
			}
		}

		ul#server-autojoin-channels {
			list-style: none;
		}
	}

	.cinder-modal-buttonbar {
		@include lineheight(37);
		@extend .row;
		margin: auto;
		text-align: center;
		margin-bottom: 10px;

		button#add-server-finish {
			font-size: em(16);
			padding: 5px 10px;
			border-radius: 3px;
			margin: auto;
			border: 1px solid $multigrain-border-dark;
		}
	}

}

section#add-server-pane {
	background: #fff;
	box-shadow: 0 1px 3px rgba(#111, 0.3);

	header.cinder-pane-header {
		@include lineheight(49);
		border-bottom: 1px solid $multigrain-border-dark;		
	}

	section.cinder-pane-content {
		// position: fixed;
		// top: 50px;
		// left: 0;
		overflow-y: auto;
		height: calc(100% - 99px);

		h1.label {
			font-size: em(14);
			@extend .semibold;
			text-transform: uppercase;
			line-height: 1;
			margin: 20px 0 0 20px;
		}

		input {
			margin: 10px 0 10px 20px;
			background: transparent;
			border: none;
			width: 280px;
			box-shadow: 0 1px 1px rgba(#111, 0.3);
			@include lineheight(30);
			padding-left: 10px;
			font-family: $cinder-sans-font;
			@extend .semibold;
			outline: none;

			&:focus {
				box-shadow: 0 1px 1px rgba(#111, 0.6);
			}
		}

		#channels-list {
			list-style: none;
			margin: 10px 20px 0 20px;
			font-size: em(14);

			li {
				padding: 5px 0;
			}
		}
	}

	footer.cinder-pane-footer {
		@include lineheight(49);
		width: 100%;
		border-top: 1px solid $multigrain-border-dark;
	}
}

@media (max-width: $cinder-grid-width / 2) {
	#user-nick {
		display: none;
	}
	.chat-nick {
		text-align: left !important;
		padding: 10px 0 0 10px !important;
	}

	#input-text {
		padding-left: 15px;
	}
	.chat-time {
		display: none;
	}

	#add-server-dialog {
		section.cinder-modal-dialog {
			left: 0;
			width: 100%;
			padding: 0 20px;
			// transform: translate(-50%, 0);
		}

		section#add-server-content {
			width: 100% !important;
		}
	}
}