@import "multigrain/config";
@import "cinder";
@import "multigrain/login";

// variables
html, body {
	width: 100%;
	height: 100%;
}

body {
	background: #fff;
	overflow-x: hidden;
}



.toggle-sidebar {
	position: fixed;
	top: 3px;
	left: 10px;
	font-size: 20px;
	z-index: 990;
	color: #fff;

	&.active {
		color: #313131;
	}
}

section#sidebar {
	position: absolute;
	top: 0;
	left: 0;
	width: 300px;
	height: 100%;
	background: #313131;
	border-right: 1px solid #000;
	// box-shadow: 0 0px 3px #000;
	color: #fff;
	@include move3d(0px, 0px, 200ms, ease-in);

	& > section.container {
		padding: 0;
		height: calc(100% - 40px);
		overflow: auto;
	}

	&.close {
		@include move3d(-300px, 0px, 300ms, ease-out);
	}
}

header.header {
	line-height: 1;
	font-size: em(18);
	padding: 10px;
}

.container {
	padding: 10px;
}

ul#channels {
	list-style: none;
	font-size: em(14);

	li.channel {
		padding: 10px;
	}

	div.channel-name {
		font-size: em(14);
	}

	div.server-name {
		font-size: em(12);
	}

	div.channel-unread {
		font-size: em(20);
		padding-top: 4px;
	}

	div.status {
		padding: 12px 10px 10px 0;
		font-size: 8px;
		display: none;

		&.online, &.away {
			display: block;
		}

		&.online {
			color: $multigrain-green;
		}

		&.away {
			color: $multigrain-red;
		}
	}
}

ul#chat {
	list-style: none;
	height: calc(100% - 60px);
	overflow: auto;
	li.chatline {
		&:hover .time {
			opacity: 1;
		}

		&:first-of-type {
			margin-top: -7px;
		}
	}

	.time {
		opacity: 0;
		@include translate-prop(opacity, 100);
	}

	.author, .time {
		font-size: em(12);
		color: #747474;
	}

	p.message {
		margin: 0;
		font-size: em(14);
		line-height: 1.2;
	}
}

/* section#chat-holder {
	
} */

section#chat-input-holder {
	@include lineheight(38);
	width: calc(100% - 20px);
	box-shadow: 0 1px 1px rgba(#000, .3) inset;
	margin: 10px 10px 0;
	border: 1px solid rgba(#e8e8e8, .7);
	color: #747474;
	display: table;
	padding: 0;

	#username {
		font-size: em(14);
		width: 1px;
		padding: 0 10px;
		border-right: 1px solid rgba(#e8e8e8, .7);
	}

	#input {
		width: calc(100% - 20px);
		border: none;
		margin: 0 10px;
		outline: none;
		font-size: em(14);
		font-family: "Open Sans";
		font-weight: 600;
		color: #747474;
	}

	#username, #input {
		display: table-cell;
	}
}

section#main {
	position: absolute;
	top: 0;
	@include move3d(300px, 0px, 300ms, ease-out);
	width: calc(100% - 300px);
	height: 100%;

	&.full {
		width: 100%;
		@include move3d(0px, 0px, 200ms, ease-in);
		@include translate-prop(all, 500ms);
		overflow: hidden;

		#chat {
			padding: 10px 10px 10px 30px;
		}
	}
}

@include maxMQ(900px) {
	section#sidebar {
		@include move3d(-300px, 0px, 300ms, ease-out);

		&.close {
			@include move3d(0px, 0px, 200ms, ease-in);
		}
	}

	section#main {
		width: 100%;
		@include move3d(0px, 0px, 200ms, ease-in);
		@include translate-prop(all, 500ms);

		&.full {
			@include move3d(300px, 0px, 300ms, ease-out);
		}
	}

	.toggle-sidebar {
		color: #313131;

		&.active {
			color: #fff;
		}
	}
}