@import "cinder";

// variables

$multigrain-red: #e64d52;
$multigrain-green: #8cd43a;
$multigrain-dark: #3d3d3d;
$multigrain-light: #979696;
$multigrain-border: #e9e9e9;
$multigrain-border-dark: #ddd;

body {
	background: #f3f3f3;
}

nav {
	border-bottom: 1px solid $multigrain-border-dark;
	@include lineheight(49);
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	background: #f3f3f3;
}

nav > ul {
	margin: auto;

	li {
		&#channel-info {
			padding-left: 15px;
			min-width: 220px;
			
			span#channel-name {
				margin: 0 15px;
				@extend .semibold;
				text-transform: uppercase;
				font-size: em(18);
			}

			i {
				font-size: em(14);
				margin-top: 16px;

				&.fa-times {
					font-size: em(10);
					margin-top: 18px;
				}
			}
		}

		&#topic {

		}

		&#users {
			font-size: em(12);
			text-align: right;
			padding-right: 15px;
		}
	}
}

ul#chat {
	margin: auto;
	list-style: none;
	position: absolute;
	top: 50px;
	left: 50%;
	width: 100%;
	height: calc(100% - 100px);
	transform: translate(-50%, 0);
	overflow: auto;

	li.chatline {
		font-size: em(14);

		&.self {
			color: $multigrain-light;
		}

		&.mention {
			color: $multigrain-red;
			@extend .bold;
		}

		&.leave, &.join {
			color: $multigrain-light;
			i {
				font-size: em(14);
			}
		}

		div {
			&.chat-nick {
				text-align: right;
				@extend .semibold;
				padding: 10px 0;
				padding-right: 10px;
			}

			&.chat-text {
				border-bottom: 1px solid $multigrain-border;
				padding: 10px 0;
				padding-left: 10px;
				word-wrap: break-word;
				
				&:last-of-type { 
					color: red;
				}
			}

			&.chat-time {
				text-align: right;
				padding: 10px 0;
				padding-right: 15px;
			}
		}
	}
}

footer#footer {
	position: fixed;
	bottom: 0;
	left: 50%;
	width: 100%;
	transform: translate(-50%, 0);
	background: #fff;
	border-top: 1px solid $multigrain-border-dark;

	div.row {
		@include lineheight(49);
		margin: auto;

		div {
			&#user-nick {
				text-align: right;
				font-size: em(14);
				@extend .semibold;
				padding-right: 10px;
			}

			&#input-text {
				input {
					width: 100%;
					border: none;
					border-bottom: 1px solid $multigrain-border-dark;
					font-family: $cinder-sans-font;
					font-size: em(14);
					outline: none;
				}
			}

			&#multigrain-settings {
				text-align: right;
				padding-right: 15px;
			}
		}

	}
}

// ui components

#login-dialog {
	background: rgba(#111, 1);
	section.cinder-modal-dialog {
		width: 500px;
		height: 264px;
		left: calc(50% - 250px);
		top: calc(50% - 132px);

		label {
			font-size: em(18);
			color: #fff;
		}

		input.input {
			@include lineheight(40);
			width: 100%;
			margin: 10px 0 20px;
			background: rgba(#353535, 0.3);
			color: #fff;
		}

		button.button {
			width: 100%;
			@include lineheight(50);
			@include translate-prop(all, 100);
			background: rgba($multigrain-green, 0.7);
			font-size: em(18);
			color: #fff;

			&:hover {
				background: rgba($multigrain-green, 0.5);
			}

			&:active {
				background: rgba($multigrain-green, 0.9);
			}
		}
	}

	#server-status {
		position: fixed;
		bottom: 10px;
		right: 10px;
		z-index: 9999;

		span.txt {
			display: none;
			color: #fff;
			margin-right: 10px;
			text-transform: uppercase;
		}

		&.ok {
			color: $multigrain-green;
		}

		&.err {
			color: $multigrain-red;
		}

		&:hover {
			span.txt {
				display: inline;
			}
		}
	}

	#login-msg {
		color: #fff;
		@include lineheight(50);
		margin-top: 20px;
		padding: 0 15px;
		display: none;
		text-align: center;

		&.ok {
			background: rgba($multigrain-green, .7);
		}

		&.err {
			background: rgba($multigrain-red, .7);
		}
	}

	&.closed {
		transform: translateX(0px) translateY(100%) translateZ(-1000px);
		transition: transform 0.4s, opacity 0.4s;
	}

	&.active {
		transform: translateX(0px) translateY(0%) translateZ(-1000px);
		transition: transform 0.4s, opacity 0.4s;
	}
}

section#add-server-pane {
	background: #fff;
	box-shadow: 0 1px 3px rgba(#111, 0.3);

	header.cinder-pane-header {
		@include lineheight(49);
		border-bottom: 1px solid $multigrain-border-dark;		
	}

	section.cinder-pane-content {
		// position: fixed;
		// top: 50px;
		// left: 0;
		overflow-y: auto;
		height: calc(100% - 99px);

		h1.label {
			font-size: em(14);
			@extend .semibold;
			text-transform: uppercase;
			line-height: 1;
			margin: 20px 0 0 20px;
		}

		input {
			margin: 10px 0 10px 20px;
			background: transparent;
			border: none;
			width: 280px;
			box-shadow: 0 1px 1px rgba(#111, 0.3);
			@include lineheight(30);
			padding-left: 10px;
			font-family: $cinder-sans-font;
			@extend .semibold;
			outline: none;

			&:focus {
				box-shadow: 0 1px 1px rgba(#111, 0.6);
			}
		}

		#channels-list {
			list-style: none;
			margin: 10px 20px 0 20px;
			font-size: em(14);

			li {
				padding: 5px 0;
			}
		}
	}

	footer.cinder-pane-footer {
		@include lineheight(49);
		width: 100%;
		border-top: 1px solid $multigrain-border-dark;
	}
}

section.holder {
	padding: 10px;
}

@media (max-width: $cinder-grid-width / 2) {
	#user-nick {
		display: none;
	}
	.chat-nick {
		text-align: left !important;
		padding: 10px 0 0 10px !important;
	}

	#input-text {
		padding-left: 15px;
	}
	.chat-time {
		display: none;
	}

	#login-dialog {
		section.cinder-modal-dialog {
			left: 0;
			width: 100%;
			padding: 0 20px;
			// transform: translate(-50%, 0);
		}

		section#add-server-content {
			width: 100% !important;
		}
	}
}