/**
 * html5doctor.com Reset Stylesheet v1.6.1 (http://html5doctor.com/html-5-reset-stylesheet/)
 * Richard Clark (http://richclarkdesign.com)
 * http://cssreset.com
 */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

body {
  line-height: 1; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

nav ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none; }

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold; }

del {
  text-decoration: line-through; }

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0; }

input, select {
  vertical-align: middle; }

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.cf:before, .row:before, .cf:after, .row:after {
  content: " ";
  display: table; }

.cf:after, .row:after {
  clear: both; }

.left {
  float: left; }

.right {
  float: right; }

@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Fira Sans Light'), local('FiraSans-Light'), url(http://themes.googleusercontent.com/static/fonts/firasans/v2/VTBnrK42EiOBncVyQXZ7j3hCUOGz7vYGh680lGh-uXM.woff) format('woff'); }

@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Fira Sans'), local('FiraSans-Regular'), url(http://themes.googleusercontent.com/static/fonts/firasans/v2/EjsrzDkQUQCDwsBtLpcVQT8E0i7KZn-EPnyo3HZu7kw.woff) format('woff'); }

@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 500;
  src: local('Fira Sans Medium'), local('FiraSans-Medium'), url(http://themes.googleusercontent.com/static/fonts/firasans/v2/zM2u8V3CuPVwAAXFQcDi4HhCUOGz7vYGh680lGh-uXM.woff) format('woff'); }

@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Fira Sans Bold'), local('FiraSans-Bold'), url(http://themes.googleusercontent.com/static/fonts/firasans/v2/DugPdSljmOTocZOR2CItOnhCUOGz7vYGh680lGh-uXM.woff) format('woff'); }

@font-face {
  font-family: 'Fira Sans';
  font-style: italic;
  font-weight: 400;
  src: local('Fira Sans Italic'), local('FiraSans-Italic'), url(http://themes.googleusercontent.com/static/fonts/firasans/v2/QURAmFz4b80g324-oF-Uj4bN6UDyHWBl620a-IRfuBk.woff) format('woff'); }

@font-face {
  font-family: 'Fira Mono';
  font-style: normal;
  font-weight: 400;
  src: local('Fira Mono'), local('FiraMono'), url(http://fonts.gstatic.com/s/firamono/v1/SlRWfq1zeqXiYWAN-lnG-j8E0i7KZn-EPnyo3HZu7kw.woff) format('woff'); }

body {
  font-family: 'Fira Sans', sans-serif;
  line-height: 1.5; }

.light {
  font-weight: 300; }

.normal, h3, h4, h5, h6 {
  font-weight: 400; }

.semibold, h2, section.cinder-modal-overlay header.cinder-modal-titlebar h1, section.cinder-pane header.cinder-pane-header div.cinder-pane-title, .input, .dropdown, .label {
  font-weight: 500; }

.bold, h1 {
  font-weight: 700; }

.mono {
  font-family: 'Fira Mono', monospace; }

h1 {
  font-size: 2em; }

h2 {
  font-size: 1.75em; }

h3 {
  font-size: 1.375em; }

h4 {
  font-size: 1.125em; }

h5 {
  font-size: 0.875em; }

h6 {
  font-size: 0.75em; }

.row {
  max-width: 1000px; }
  .row .col-1 {
    width: 8.33333%; }
  .row .col-1-fluid {
    width: 8.33333%; }
  .row .col-2 {
    width: 16.66667%; }
  .row .col-2-fluid {
    width: 16.66667%; }
  .row .col-3 {
    width: 25%; }
  .row .col-3-fluid {
    width: 25%; }
  .row .col-4 {
    width: 33.33333%; }
  .row .col-4-fluid {
    width: 33.33333%; }
  .row .col-5 {
    width: 41.66667%; }
  .row .col-5-fluid {
    width: 41.66667%; }
  .row .col-6 {
    width: 50%; }
  .row .col-6-fluid {
    width: 50%; }
  .row .col-7 {
    width: 58.33333%; }
  .row .col-7-fluid {
    width: 58.33333%; }
  .row .col-8 {
    width: 66.66667%; }
  .row .col-8-fluid {
    width: 66.66667%; }
  .row .col-9 {
    width: 75%; }
  .row .col-9-fluid {
    width: 75%; }
  .row .col-10 {
    width: 83.33333%; }
  .row .col-10-fluid {
    width: 83.33333%; }
  .row .col-11 {
    width: 91.66667%; }
  .row .col-11-fluid {
    width: 91.66667%; }
  .row .col-12 {
    width: 100%; }
  .row .col-12-fluid {
    width: 100%; }
  .row [class*='col-'] {
    float: left; }
  .row [class*='col-']:last-of-type {
    float: right; }

@media (max-width: 500px) {
  .row .col-1 {
    float: none;
    width: 100%; }
  .row .col-2 {
    float: none;
    width: 100%; }
  .row .col-3 {
    float: none;
    width: 100%; }
  .row .col-4 {
    float: none;
    width: 100%; }
  .row .col-5 {
    float: none;
    width: 100%; }
  .row .col-6 {
    float: none;
    width: 100%; }
  .row .col-7 {
    float: none;
    width: 100%; }
  .row .col-8 {
    float: none;
    width: 100%; }
  .row .col-9 {
    float: none;
    width: 100%; }
  .row .col-10 {
    float: none;
    width: 100%; }
  .row .col-11 {
    float: none;
    width: 100%; }
  .row .col-12 {
    float: none;
    width: 100%; } }

section.cinder-modal-overlay {
  background: rgba(255, 255, 255, 0.9);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 99; }
  section.cinder-modal-overlay header.cinder-modal-titlebar {
    height: 50px;
    line-height: 50px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0; }
    section.cinder-modal-overlay header.cinder-modal-titlebar h1 {
      font-size: 1.5em;
      padding: 0 20px; }
    section.cinder-modal-overlay header.cinder-modal-titlebar div.cinder-modal-close {
      float: right;
      padding: 0 20px; }
  section.cinder-modal-overlay section.cinder-modal-dialog {
    position: fixed;
    top: 50px;
    left: 0;
    z-index: 101; }
  section.cinder-modal-overlay footer.cinder-modal-buttonbar {
    height: 50px;
    line-height: 50px;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0; }

section.cinder-pane {
  width: 320px;
  position: fixed;
  top: 0;
  bottom: 0; }
  section.cinder-pane.left-pane {
    left: 0; }
  section.cinder-pane.right-pane {
    right: 0; }
  section.cinder-pane header.cinder-pane-header div.cinder-pane-close {
    padding: 0 15px;
    font-size: 0.875em; }
  section.cinder-pane header.cinder-pane-header div.cinder-pane-title {
    font-size: 1.125em; }

.button {
  border: none;
  font-family: 'Fira Sans', sans-serif;
  background: transparent;
  font-size: 1em;
  height: 30px;
  line-height: 30px;
  box-shadow: 0 1px 3px rgba(17, 17, 17, 0.3);
  padding: 0 10px; }

.input, .dropdown {
  background: transparent;
  border: none;
  min-width: 100px;
  box-shadow: 0 1px 3px rgba(17, 17, 17, 0.3);
  height: 30px;
  line-height: 30px;
  padding-left: 10px;
  font-family: 'Fira Sans', sans-serif;
  outline: none; }
  .input:focus, .dropdown:focus {
    box-shadow: 0 1px 3px rgba(17, 17, 17, 0.45); }
  .input.alt, .dropdown.alt {
    box-shadow: 0 1px 1px rgba(17, 17, 17, 0.3); }
    .input.alt:focus, .dropdown.alt:focus {
      box-shadow: 0 1px 1px rgba(17, 17, 17, 0.6); }

.label {
  text-transform: uppercase;
  font-size: 1em; }

.list {
  font-size: 1em;
  list-style-position: inside; }

.text {
  font-size: 0.875em; }
