/**
 * html5doctor.com Reset Stylesheet v1.6.1 (http://html5doctor.com/html-5-reset-stylesheet/)
 * Richard Clark (http://richclarkdesign.com)
 * http://cssreset.com
 */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

body {
  line-height: 1; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

nav ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none; }

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold; }

del {
  text-decoration: line-through; }

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0; }

input, select {
  vertical-align: middle; }

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.cf:before, .row:before, #add-server-dialog .cinder-modal-buttonbar:before, .cf:after, .row:after, #add-server-dialog .cinder-modal-buttonbar:after {
  content: " ";
  display: table; }

.cf:after, .row:after, #add-server-dialog .cinder-modal-buttonbar:after {
  clear: both; }

.left {
  float: left; }

.right {
  float: right; }

@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Fira Sans Light'), local('FiraSans-Light'), url(http://themes.googleusercontent.com/static/fonts/firasans/v2/VTBnrK42EiOBncVyQXZ7j3hCUOGz7vYGh680lGh-uXM.woff) format('woff'); }

@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Fira Sans'), local('FiraSans-Regular'), url(http://themes.googleusercontent.com/static/fonts/firasans/v2/EjsrzDkQUQCDwsBtLpcVQT8E0i7KZn-EPnyo3HZu7kw.woff) format('woff'); }

@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 500;
  src: local('Fira Sans Medium'), local('FiraSans-Medium'), url(http://themes.googleusercontent.com/static/fonts/firasans/v2/zM2u8V3CuPVwAAXFQcDi4HhCUOGz7vYGh680lGh-uXM.woff) format('woff'); }

@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Fira Sans Bold'), local('FiraSans-Bold'), url(http://themes.googleusercontent.com/static/fonts/firasans/v2/DugPdSljmOTocZOR2CItOnhCUOGz7vYGh680lGh-uXM.woff) format('woff'); }

@font-face {
  font-family: 'Fira Sans';
  font-style: italic;
  font-weight: 400;
  src: local('Fira Sans Italic'), local('FiraSans-Italic'), url(http://themes.googleusercontent.com/static/fonts/firasans/v2/QURAmFz4b80g324-oF-Uj4bN6UDyHWBl620a-IRfuBk.woff) format('woff'); }

@font-face {
  font-family: 'Fira Mono';
  font-style: normal;
  font-weight: 400;
  src: local('Fira Mono'), local('FiraMono'), url(http://fonts.gstatic.com/s/firamono/v1/SlRWfq1zeqXiYWAN-lnG-j8E0i7KZn-EPnyo3HZu7kw.woff) format('woff'); }

body {
  font-family: 'Fira Sans', sans-serif;
  line-height: 1.5; }

.light {
  font-weight: 300; }

.normal, h3, h4, h5, h6 {
  font-weight: 400; }

.semibold, h2, section.cinder-modal-overlay header.cinder-modal-titlebar h1, section.cinder-pane header.cinder-pane-header div.cinder-pane-title, .input, .dropdown, .label, nav > ul li#channel-info span#channel-name, ul#chat li.chatline div.chat-nick, footer#footer div.row div#user-nick, #add-server-dialog div.cinder-modal-buttonbar, #add-server-dialog button, #add-server-dialog section#add-server-content h1, #add-server-dialog section#add-server-content label, section#add-server-pane section.cinder-pane-content h1.label, section#add-server-pane section.cinder-pane-content input {
  font-weight: 500; }

.bold, h1, ul#chat li.chatline.mention, #add-server-dialog section#add-server-content button:active {
  font-weight: 700; }

.mono {
  font-family: 'Fira Mono', monospace; }

h1 {
  font-size: 2em; }

h2 {
  font-size: 1.75em; }

h3 {
  font-size: 1.375em; }

h4 {
  font-size: 1.125em; }

h5 {
  font-size: 0.875em; }

h6 {
  font-size: 0.75em; }

.row, #add-server-dialog .cinder-modal-buttonbar {
  max-width: 1000px; }
  .row .col-1, .row #add-server-dialog .cinder-modal-buttonbar, #add-server-dialog .row .cinder-modal-buttonbar {
    width: 8.33333%; }
  .row .col-1-fluid, .row #add-server-dialog .cinder-modal-buttonbar, #add-server-dialog .row .cinder-modal-buttonbar {
    width: 8.33333%; }
  .row .col-2, .row #add-server-dialog .cinder-modal-buttonbar, #add-server-dialog .row .cinder-modal-buttonbar {
    width: 16.66667%; }
  .row .col-2-fluid, .row #add-server-dialog .cinder-modal-buttonbar, #add-server-dialog .row .cinder-modal-buttonbar {
    width: 16.66667%; }
  .row .col-3, .row #add-server-dialog .cinder-modal-buttonbar, #add-server-dialog .row .cinder-modal-buttonbar {
    width: 25%; }
  .row .col-3-fluid, .row #add-server-dialog .cinder-modal-buttonbar, #add-server-dialog .row .cinder-modal-buttonbar {
    width: 25%; }
  .row .col-4, .row #add-server-dialog .cinder-modal-buttonbar, #add-server-dialog .row .cinder-modal-buttonbar {
    width: 33.33333%; }
  .row .col-4-fluid, .row #add-server-dialog .cinder-modal-buttonbar, #add-server-dialog .row .cinder-modal-buttonbar {
    width: 33.33333%; }
  .row .col-5, .row #add-server-dialog .cinder-modal-buttonbar, #add-server-dialog .row .cinder-modal-buttonbar {
    width: 41.66667%; }
  .row .col-5-fluid, .row #add-server-dialog .cinder-modal-buttonbar, #add-server-dialog .row .cinder-modal-buttonbar {
    width: 41.66667%; }
  .row .col-6, .row #add-server-dialog .cinder-modal-buttonbar, #add-server-dialog .row .cinder-modal-buttonbar {
    width: 50%; }
  .row .col-6-fluid, .row #add-server-dialog .cinder-modal-buttonbar, #add-server-dialog .row .cinder-modal-buttonbar {
    width: 50%; }
  .row .col-7, .row #add-server-dialog .cinder-modal-buttonbar, #add-server-dialog .row .cinder-modal-buttonbar {
    width: 58.33333%; }
  .row .col-7-fluid, .row #add-server-dialog .cinder-modal-buttonbar, #add-server-dialog .row .cinder-modal-buttonbar {
    width: 58.33333%; }
  .row .col-8, .row #add-server-dialog .cinder-modal-buttonbar, #add-server-dialog .row .cinder-modal-buttonbar {
    width: 66.66667%; }
  .row .col-8-fluid, .row #add-server-dialog .cinder-modal-buttonbar, #add-server-dialog .row .cinder-modal-buttonbar {
    width: 66.66667%; }
  .row .col-9, .row #add-server-dialog .cinder-modal-buttonbar, #add-server-dialog .row .cinder-modal-buttonbar {
    width: 75%; }
  .row .col-9-fluid, .row #add-server-dialog .cinder-modal-buttonbar, #add-server-dialog .row .cinder-modal-buttonbar {
    width: 75%; }
  .row .col-10, .row #add-server-dialog .cinder-modal-buttonbar, #add-server-dialog .row .cinder-modal-buttonbar {
    width: 83.33333%; }
  .row .col-10-fluid, .row #add-server-dialog .cinder-modal-buttonbar, #add-server-dialog .row .cinder-modal-buttonbar {
    width: 83.33333%; }
  .row .col-11, .row #add-server-dialog .cinder-modal-buttonbar, #add-server-dialog .row .cinder-modal-buttonbar {
    width: 91.66667%; }
  .row .col-11-fluid, .row #add-server-dialog .cinder-modal-buttonbar, #add-server-dialog .row .cinder-modal-buttonbar {
    width: 91.66667%; }
  .row .col-12, .row #add-server-dialog .cinder-modal-buttonbar, #add-server-dialog .row .cinder-modal-buttonbar {
    width: 100%; }
  .row .col-12-fluid, .row #add-server-dialog .cinder-modal-buttonbar, #add-server-dialog .row .cinder-modal-buttonbar {
    width: 100%; }
  .row [class*='col-'], .row #add-server-dialog .cinder-modal-buttonbar, #add-server-dialog .row .cinder-modal-buttonbar {
    float: left; }
  .row [class*='col-']:last-of-type, .row #add-server-dialog .cinder-modal-buttonbar, #add-server-dialog .row .cinder-modal-buttonbar {
    float: right; }

@media (max-width: 500px) {
  .row .col-1, .row #add-server-dialog .cinder-modal-buttonbar, #add-server-dialog .row .cinder-modal-buttonbar {
    float: none;
    width: 100%; }
  .row .col-2, .row #add-server-dialog .cinder-modal-buttonbar, #add-server-dialog .row .cinder-modal-buttonbar {
    float: none;
    width: 100%; }
  .row .col-3, .row #add-server-dialog .cinder-modal-buttonbar, #add-server-dialog .row .cinder-modal-buttonbar {
    float: none;
    width: 100%; }
  .row .col-4, .row #add-server-dialog .cinder-modal-buttonbar, #add-server-dialog .row .cinder-modal-buttonbar {
    float: none;
    width: 100%; }
  .row .col-5, .row #add-server-dialog .cinder-modal-buttonbar, #add-server-dialog .row .cinder-modal-buttonbar {
    float: none;
    width: 100%; }
  .row .col-6, .row #add-server-dialog .cinder-modal-buttonbar, #add-server-dialog .row .cinder-modal-buttonbar {
    float: none;
    width: 100%; }
  .row .col-7, .row #add-server-dialog .cinder-modal-buttonbar, #add-server-dialog .row .cinder-modal-buttonbar {
    float: none;
    width: 100%; }
  .row .col-8, .row #add-server-dialog .cinder-modal-buttonbar, #add-server-dialog .row .cinder-modal-buttonbar {
    float: none;
    width: 100%; }
  .row .col-9, .row #add-server-dialog .cinder-modal-buttonbar, #add-server-dialog .row .cinder-modal-buttonbar {
    float: none;
    width: 100%; }
  .row .col-10, .row #add-server-dialog .cinder-modal-buttonbar, #add-server-dialog .row .cinder-modal-buttonbar {
    float: none;
    width: 100%; }
  .row .col-11, .row #add-server-dialog .cinder-modal-buttonbar, #add-server-dialog .row .cinder-modal-buttonbar {
    float: none;
    width: 100%; }
  .row .col-12, .row #add-server-dialog .cinder-modal-buttonbar, #add-server-dialog .row .cinder-modal-buttonbar {
    float: none;
    width: 100%; } }

section.cinder-modal-overlay {
  background: rgba(255, 255, 255, 0.9);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 99; }
  section.cinder-modal-overlay header.cinder-modal-titlebar {
    height: 50px;
    line-height: 50px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0; }
    section.cinder-modal-overlay header.cinder-modal-titlebar h1 {
      font-size: 1.5em;
      padding: 0 20px; }
    section.cinder-modal-overlay header.cinder-modal-titlebar div.cinder-modal-close {
      float: right;
      padding: 0 20px; }
  section.cinder-modal-overlay section.cinder-modal-dialog {
    position: fixed;
    top: 50px;
    left: 0;
    z-index: 101; }
  section.cinder-modal-overlay footer.cinder-modal-buttonbar {
    height: 50px;
    line-height: 50px;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0; }

section.cinder-pane {
  width: 320px;
  position: fixed;
  top: 0;
  bottom: 0; }
  section.cinder-pane.left-pane {
    left: 0; }
  section.cinder-pane.right-pane {
    right: 0; }
  section.cinder-pane header.cinder-pane-header div.cinder-pane-close {
    padding: 0 15px;
    font-size: 0.875em; }
  section.cinder-pane header.cinder-pane-header div.cinder-pane-title {
    font-size: 1.125em; }

.button {
  border: none;
  font-family: 'Fira Sans', sans-serif;
  background: transparent;
  font-size: 1em;
  height: 30px;
  line-height: 30px;
  box-shadow: 0 1px 3px rgba(17, 17, 17, 0.3);
  padding: 0 10px; }

.input, .dropdown {
  background: transparent;
  border: none;
  min-width: 100px;
  box-shadow: 0 1px 3px rgba(17, 17, 17, 0.3);
  height: 30px;
  line-height: 30px;
  padding-left: 10px;
  font-family: 'Fira Sans', sans-serif;
  outline: none; }
  .input:focus, .dropdown:focus {
    box-shadow: 0 1px 3px rgba(17, 17, 17, 0.45); }
  .input.alt, .dropdown.alt {
    box-shadow: 0 1px 1px rgba(17, 17, 17, 0.3); }
    .input.alt:focus, .dropdown.alt:focus {
      box-shadow: 0 1px 1px rgba(17, 17, 17, 0.6); }

.label {
  text-transform: uppercase;
  font-size: 1em; }

.list {
  font-size: 1em;
  list-style-position: inside; }

.text {
  font-size: 0.875em; }

body {
  background: #f3f3f3; }

nav {
  border-bottom: 1px solid #ddd;
  height: 49px;
  line-height: 49px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: #f3f3f3; }

nav > ul {
  margin: auto; }
  nav > ul li#channel-info {
    padding-left: 15px;
    min-width: 220px; }
    nav > ul li#channel-info span#channel-name {
      margin: 0 15px;
      text-transform: uppercase;
      font-size: 1.125em; }
    nav > ul li#channel-info i {
      font-size: 0.875em;
      margin-top: 16px; }
      nav > ul li#channel-info i.fa-times {
        font-size: 0.625em;
        margin-top: 18px; }
  nav > ul li#users {
    font-size: 0.75em;
    text-align: right;
    padding-right: 15px; }

ul#chat {
  margin: auto;
  list-style: none;
  position: absolute;
  top: 50px;
  left: 50%;
  width: 100%;
  height: calc(100% - 100px);
  transform: translate(-50%, 0);
  overflow: auto; }
  ul#chat li.chatline {
    font-size: 0.875em; }
    ul#chat li.chatline.self {
      color: #979696; }
    ul#chat li.chatline.mention {
      color: #e64d52; }
    ul#chat li.chatline.leave, ul#chat li.chatline.join {
      color: #979696; }
      ul#chat li.chatline.leave i, ul#chat li.chatline.join i {
        font-size: 0.875em; }
    ul#chat li.chatline div.chat-nick {
      text-align: right;
      padding: 10px 0;
      padding-right: 10px; }
    ul#chat li.chatline div.chat-text {
      border-bottom: 1px solid #e9e9e9;
      padding: 10px 0;
      padding-left: 10px;
      word-wrap: break-word; }
      ul#chat li.chatline div.chat-text:last-of-type {
        color: red; }
    ul#chat li.chatline div.chat-time {
      text-align: right;
      padding: 10px 0;
      padding-right: 15px; }

footer#footer {
  position: fixed;
  bottom: 0;
  left: 50%;
  width: 100%;
  transform: translate(-50%, 0);
  background: #fff;
  border-top: 1px solid #ddd; }
  footer#footer div.row, footer#footer #add-server-dialog div.cinder-modal-buttonbar, #add-server-dialog footer#footer div.cinder-modal-buttonbar {
    height: 49px;
    line-height: 49px;
    margin: auto; }
    footer#footer div.row div#user-nick, footer#footer div.row #add-server-dialog div.cinder-modal-buttonbar, #add-server-dialog footer#footer div.row div.cinder-modal-buttonbar {
      text-align: right;
      font-size: 0.875em;
      padding-right: 10px; }
    footer#footer div.row div#input-text input, footer#footer div.row div#input-text #add-server-dialog div.cinder-modal-buttonbar, #add-server-dialog footer#footer div.row div#input-text div.cinder-modal-buttonbar {
      width: 100%;
      border: none;
      border-bottom: 1px solid #ddd;
      font-family: 'Fira Sans', sans-serif;
      font-size: 0.875em;
      outline: none; }
    footer#footer div.row div#multigrain-settings, footer#footer div.row #add-server-dialog div.cinder-modal-buttonbar, #add-server-dialog footer#footer div.row div.cinder-modal-buttonbar {
      text-align: right;
      padding-right: 15px; }

#add-server-dialog {
  background: #fff;
  display: none; }
  #add-server-dialog button {
    background: none;
    border: none;
    text-transform: uppercase;
    font-family: 'Fira Sans', sans-serif;
    outline: none;
    cursor: pointer; }
  #add-server-dialog section.cinder-modal-dialog {
    left: calc(50% - 250px);
    height: 100%; }
  #add-server-dialog section#add-server-content {
    width: 500px;
    height: calc(100% - 100px);
    overflow-x: hidden;
    overflow-y: auto; }
    #add-server-dialog section#add-server-content h1 {
      font-size: 1.5em; }
    #add-server-dialog section#add-server-content label {
      text-transform: uppercase;
      font-size: 1em; }
    #add-server-dialog section#add-server-content div {
      margin: 10px 0 20px 0; }
    #add-server-dialog section#add-server-content input {
      width: 100%;
      border: none;
      border-bottom: 1px solid #ddd; }
    #add-server-dialog section#add-server-content div#server-add-autojoin-buttons {
      margin-left: -10px; }
    #add-server-dialog section#add-server-content button {
      border: 1px solid transparent;
      padding: 0 10px;
      font-size: 0.875em; }
      #add-server-dialog section#add-server-content button.on {
        color: #8cd43a; }
        #add-server-dialog section#add-server-content button.on.selected {
          border-color: #8cd43a; }
      #add-server-dialog section#add-server-content button.off {
        color: #e64d52; }
        #add-server-dialog section#add-server-content button.off.selected {
          border-color: #e64d52; }
    #add-server-dialog section#add-server-content ul#server-autojoin-channels {
      list-style: none; }
  #add-server-dialog .cinder-modal-buttonbar {
    height: 37px;
    line-height: 37px;
    margin: auto;
    text-align: center;
    margin-bottom: 10px; }
    #add-server-dialog .cinder-modal-buttonbar button#add-server-finish {
      font-size: 1em;
      padding: 5px 10px;
      border-radius: 3px;
      margin: auto;
      border: 1px solid #ddd; }

section#add-server-pane {
  background: #fff;
  box-shadow: 0 1px 3px rgba(17, 17, 17, 0.3); }
  section#add-server-pane header.cinder-pane-header {
    height: 49px;
    line-height: 49px;
    border-bottom: 1px solid #ddd; }
  section#add-server-pane section.cinder-pane-content {
    overflow-y: auto;
    height: calc(100% - 99px); }
    section#add-server-pane section.cinder-pane-content h1.label {
      font-size: 0.875em;
      text-transform: uppercase;
      line-height: 1;
      margin: 20px 0 0 20px; }
    section#add-server-pane section.cinder-pane-content input {
      margin: 10px 0 10px 20px;
      background: transparent;
      border: none;
      width: 280px;
      box-shadow: 0 1px 1px rgba(17, 17, 17, 0.3);
      height: 30px;
      line-height: 30px;
      padding-left: 10px;
      font-family: 'Fira Sans', sans-serif;
      outline: none; }
      section#add-server-pane section.cinder-pane-content input:focus {
        box-shadow: 0 1px 1px rgba(17, 17, 17, 0.6); }
    section#add-server-pane section.cinder-pane-content #channels-list {
      list-style: none;
      margin: 10px 20px 0 20px;
      font-size: 0.875em; }
      section#add-server-pane section.cinder-pane-content #channels-list li {
        padding: 5px 0; }
  section#add-server-pane footer.cinder-pane-footer {
    height: 49px;
    line-height: 49px;
    width: 100%;
    border-top: 1px solid #ddd; }

@media (max-width: 500px) {
  #user-nick {
    display: none; }
  .chat-nick {
    text-align: left !important;
    padding: 10px 0 0 10px !important; }
  #input-text {
    padding-left: 15px; }
  .chat-time {
    display: none; }
  #add-server-dialog section.cinder-modal-dialog {
    left: 0;
    width: 100%;
    padding: 0 20px; }
  #add-server-dialog section#add-server-content {
    width: 100% !important; } }
