html, body {
  height: 100%; }

body {
  background: #f3f3f3;
  font-family: 'Open Sans', sans-serif;
  color: #212121;
  overflow-y: hidden; }

.cf:before,
.cf:after {
  content: " ";
  display: table; }

.cf:after {
  clear: both; }

.left {
  float: left; }

.right {
  float: right; }

header#header {
  width: 100%;
  height: 45px;
  background: #303030;
  color: #fff;
  border-bottom: 1px solid #3d3d3d;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10000; }
  header#header div#channel-select {
    line-height: 45px;
    width: 45px;
    font-size: 10pt;
    text-align: center;
    border-right: 1px solid #3d3d3d; }
  header#header div#channel-message {
    height: 45px;
    line-height: 45px;
    padding-left: 15px;
    font-size: 11pt;
    overflow: hidden;
    width: calc(100% - 160px); }
    header#header div#channel-message span#channel {
      font-weight: 600;
      text-transform: uppercase; }
    header#header div#channel-message span#separator {
      padding: 0 5px;
      font-size: 12pt; }
    header#header div#channel-message span#message {
      font-size: 10pt; }
  header#header ul#settings {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 10pt;
    text-align: center; }
    header#header ul#settings li {
      float: left;
      height: 44px;
      line-height: 44px;
      -webkit-transition: all 100ms linear;
      -moz-transition: all 100ms linear;
      -ms-transition: all 100ms linear;
      -o-transition: all 100ms linear;
      transition: all 100ms linear;
      border-top: 1px solid transparent;
      width: 45px;
      border-left: 1px solid #3d3d3d; }
      header#header ul#settings li:hover {
        border-top-color: #6bceed; }

section#sidebar {
  position: absolute;
  left: 0;
  top: 45px;
  width: 20%;
  min-width: 300px;
  background: #f3f3f3; }
  section#sidebar ul#channels {
    margin: 0;
    padding: 0;
    list-style: none;
    height: calc(100% - 45px); }
    section#sidebar ul#channels li {
      height: 45px;
      line-height: 45px;
      font-size: 11pt;
      text-transform: uppercase;
      padding: 0 10px;
      border-bottom: 1px solid #dddddd; }
  section#sidebar div#nick {
    height: 45px;
    line-height: 45px;
    border-top: 1px solid #dddddd;
    text-align: right;
    padding-right: 10px;
    background: #fff; }

section#main {
  position: absolute;
  left: 20%;
  top: 45px;
  width: 80%; }
  section#main ul#chat {
    margin: 0;
    padding: 0;
    list-style: none;
    height: calc(100% - 45px);
    background: #fff;
    border-left: 1px solid #dddddd; }
    section#main ul#chat li {
      padding: 5px 10px; }
      section#main ul#chat li p {
        margin: 0;
        padding: 0; }
        section#main ul#chat li p span {
          font-size: 10pt; }
          section#main ul#chat li p span.time {
            font-style: italic;
            color: rgba(33, 33, 33, 0.3);
            margin-left: 10px; }
      section#main ul#chat li.self {
        color: #6F6F6F; }
        section#main ul#chat li.self span.author {
          font-style: italic; }
      section#main ul#chat li.notice {
        color: #dc0000; }
        section#main ul#chat li.notice span.author {
          font-weight: 600; }
  section#main div#input {
    height: 45px;
    line-height: 45px;
    border-top: 1px solid #dddddd;
    background: #fff; }
    section#main div#input i {
      width: 10px;
      font-size: 10pt; }
    section#main div#input input {
      height: 25px;
      width: calc(100% - 20px);
      margin-top: 0px;
      border: none;
      border-bottom: 1px solid rgba(33, 33, 33, 0.3); }

section#chat-display {
  position: absolute;
  top: 45px;
  left: 0;
  height: 100%;
  width: 100%;
  overflow-y: auto;
  	/* section#nicks {
  		width: 235px;
  		text-align: right;
  	}
  
  	section#chat {
  
  	} */ }
  section#chat-display ul#display {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 11pt;
    text-align: center; }
    section#chat-display ul#display li.chatline {
      max-width: 90%;
      margin: 10px auto; }
      section#chat-display ul#display li.chatline.self {
        color: #6F6F6F; }
        section#chat-display ul#display li.chatline.self div.nick {
          font-style: italic; }
      section#chat-display ul#display li.chatline.notice {
        color: #dc0000; }
        section#chat-display ul#display li.chatline.notice div.nick {
          font-weight: 600; }
      section#chat-display ul#display li.chatline div.nick {
        width: calc(10% - 10px);
        text-align: right;
        padding-right: 10px; }
      section#chat-display ul#display li.chatline div.message {
        width: calc(90% - 60px);
        text-align: left; }
      section#chat-display ul#display li.chatline div.timestamp {
        width: 50px;
        text-align: right; }

footer#footer {
  width: 100%;
  height: 50px;
  position: fixed;
  bottom: 0;
  left: 0;
  background: #fff;
  box-shadow: 0 0 3px rgba(33, 33, 33, 0.4); }
  footer#footer div#username {
    width: 235px;
    height: 50px;
    line-height: 50px;
    text-align: right;
    padding-right: 10px; }
  footer#footer div#input-wrap input {
    margin: 0;
    padding: 0;
    -webkit-transition: all 100ms linear;
    -moz-transition: all 100ms linear;
    -ms-transition: all 100ms linear;
    -o-transition: all 100ms linear;
    transition: all 100ms linear;
    height: 30px;
    margin: 10px 0;
    border: 1px solid #dddddd; }
    footer#footer div#input-wrap input:focus {
      outline: none;
      box-shadow: 0 0 7px rgba(107, 206, 237, 0.6);
      border-color: rgba(107, 206, 237, 0.4); }

input {
  margin: 0;
  padding: 0;
  -webkit-transition: all 100ms linear;
  -moz-transition: all 100ms linear;
  -ms-transition: all 100ms linear;
  -o-transition: all 100ms linear;
  transition: all 100ms linear;
  height: 30px;
  margin: 10px 0;
  border: 1px solid #dddddd; }
  input:focus {
    outline: none;
    box-shadow: 0 0 7px rgba(107, 206, 237, 0.6);
    border-color: rgba(107, 206, 237, 0.4); }

@media only screen and (max-width: 767px) {
  header ul#channel-tabs {
    display: none; }

  section#chat-display ul#display div.timestamp {
    display: none; }
  section#chat-display ul#display div.nick {
    float: none;
    width: 200px !important;
    text-align: left !important; }
  section#chat-display ul#display div.message {
    width: calc(90% - 20px) !important;
    margin-left: 10px; }

  footer#footer div#username {
    width: 100px !important;
    overflow: hidden; } }
section.dialog {
  position: fixed;
  top: 46px;
  left: 0;
  width: 100%;
  max-height: 50%;
  overflow-y: hidden;
  background: #fff;
  border-bottom: #dddddd;
  z-index: 1000;
  text-align: center;
  box-shadow: 0 1px 2px rgba(33, 33, 33, 0.4);
  display: none; }
  section.dialog section.container {
    margin: auto;
    text-align: left;
    max-width: 800px;
    border-left: 1px solid #dddddd;
    border-right: 1px solid #dddddd; }
    section.dialog section.container header.title {
      height: 35px;
      line-height: 35px;
      text-transform: uppercase;
      font-weight: 600;
      padding: 0 10px; }
    section.dialog section.container section.content {
      padding: 0 10px 10px;
      overflow-y: auto; }
      section.dialog section.container section.content h1.title {
        margin: 0;
        padding: 0;
        font-size: 10pt;
        font-weight: 600;
        text-transform: uppercase;
        margin: 5px 0; }
      section.dialog section.container section.content input {
        margin: 0;
        padding: 0;
        width: 100%; }
        section.dialog section.container section.content input#server-address {
          width: calc(100% - 10% - 5px);
          border-right: none; }
        section.dialog section.container section.content input#server-port {
          width: calc(10% + 2px); }
    section.dialog section.container footer.actions {
      height: 45px;
      line-height: 45px;
      padding: 0 10px;
      border-top: 1px solid #dddddd; }
      section.dialog section.container footer.actions a, section.dialog section.container footer.actions a:visited, section.dialog section.container footer.actions a:active {
        text-decoration: none;
        text-transform: uppercase;
        color: #000;
        font-size: 11pt;
        border: 1px solid #dddddd;
        padding: 3px 10px;
        margin-left: 5px; }
