<li class="cf channel chn-{{ name }}" data-channel="{{ name }}" data-server="{{ server }}">
	<span class="left">{{ name }}</span>
	<span class="left"></span>
	<span class="right fa fa-times left close-channel"></span>
</li>