<section><input placeholder="Server name" type="text" id="server-name"></section>
<section><input placeholder="Server address" type="text" id="server-address"></section>
<section><input placeholder="Nick" type="text" id="server-nick"></section>
<section>Auto-connect<input type="checkbox" name="" id="server-autojoin"></section>
