<section id="channels" class="cinder-pane cinder-pane-left overlay">
	<div id="switch-server" class="cf">
		<div class="left">
			<i class="fa fa-chevron-down"></i><span id="server-name">freenode</span>
		</div>
		<div class="right">
			<span id="nick">@jk</span>
		</div>
	</div>
	<ul id="channel-list">
		
	</ul>
	<div id="channel-join-holder">
		<button class="button" id="join-channel">JOIN CHANNEL</button>
	</div>
</section>