<li class="cf channel-list-item" data-channel="{{ channel }}" data-server="{{ server }}">
	<div class="left">
		<h1 class="channel">{{ channel }}</h1>
		<h2 class="server">{{ server }}</h2>
	</div>
	<div class="right" class="close-channel">
		<i class="fa fa-times"></i>
	</div>
</li>