<section class="body cf">
	<div class="left"><span class="label">server address</span><input type="text" value="lolol" id="irc-address"></div>
	<div class="left"><span class="label">port</span><input type="text" id="irc-port"></div>
	<div class="separator empty"></div>
	<div class="left"><span class="label">nick</span><input type="text" id="irc-nickname"></div>
	<div class="left"><span class="label">password</span><input type="password" id="irc-password"></div>
</section>
<section class="body bt">
	<ul id="irc-channels" class="cf">
		<li class="irc-channel left">#channel</li>
		<li class="irc-channel left">#channel</li>
		<li class="irc-channel left">#channel</li>
		<li class="irc-channel left">#channel</li>
		<li class="irc-channel left">#channel</li>
		<li class="irc-channel left">#channel</li>
		<li class="irc-channel left">#channel</li>
		<li class="irc-channel left">#channel</li>
		<li class="irc-channel left">#channel</li>
		<li class="irc-channel left">#channel</li>
	</ul>
	<div id="add-channel-wrap"><button class="green btn">add channel</button></div>
</section>