<header class="cf">
	<span class="left title">{{ title }}</span>
	<span class="right close ion-close-round"></span>
</header>
<section class="dialog-content"></section>
<footer class="cf up">
	<span class="left btn cancel">{{ cancel_text }}</span><span class="left btn confirm">{{ confirm_text }}</span>
</footer>