<section class="dialog">
	<header class="cf">
		<span class="left title">{{ title }}</span>
		<span class="right close ion-close-round"></span>
	</header>
	<section class="dialog-content"></section>
	<footer class="cf up">
		<span class="right btn confirm">{{ confirm_text }}</span>
		<span class="right btn cancel">{{ cancel_text }}</span>
	</footer>
</section>