<section class="cinder-modal-overlay" id="login-dialog">
	<section class="cinder-modal-dialog">
		<section class="holder">
			<label for="user" class="label">E-mail</label>
			<div><input id="u" type="text" class="input alt" value="jevgeni@pitfire.eu"></div>
			<label for="pass" class="label">Password</label>
			<div><input id="pw" type="password" class="input alt" value="asdf1234"></div>
			<button id="login" class="button alt up bold">sign in</button>
			<section id="login-msg" class="err bold up">
				
			</section>
		</section>
	</section>
	<div class="ok" id="server-status">
		<span class="txt"></span><i class="fa fa-circle-o"></i>
	</div>
</section>