<nav>
	<ul class="row cf">
		<li class="col-9-fluid cf" id="channel-info">
			<i class="fa fa-bars left"></i>
			<span class="left mv-{{ _cid }}-channel" id="channel">{{ channel }}</span>
			<i class="fa fa-times left"></i>
		</li>
		<li class="col-1-fluid" id="users">
			<i class="fa fa-users"></i>
		</li>
	</ul>
</nav>

<ul id="chat" class="row">
	
</ul>
<footer id="footer">
	<div class="row cf">
		<div class="col-1-fluid mv-{{ _cid }}-nick" id="nick">{{ nick }}</div>
		<div class="col-10-fluid" id="input-text"><input type="text"></div>
		<div class="col-1-fluid" id="multigrain-settings"><i class="fa fa-cog"></i></div>
	</div>
</footer>