<section class="cinder-pane left-pane noheader" id="servers">
	<section class="cinder-pane-content">
		
	</section>
	<footer class="cinder-pane-footer">
		<div class="button alt" id="add-server">Add server</div>
	</footer>
</section>