<header class="header cf">
	<span class="right channel-title up semibold">{{ channel }}</span>
</header>
<section class="container"></section>
<footer class="footer cf">
	<span class="join ion-chatbubbles"></span>
	<span class="new ion-plus-circled"></span>
</footer>